#jb {
    color: black;
    background-color: #FFF;
    margin-top: 30px;
}

#button {
    color: #FFF;
    text-align: center;
    margin-left: 100px;
    background-color: #cd84f1;
    border: 50px;
}

#card-body {
    border: none;
}

#nav {
    background-color: #cd84f1;
    color: #FFF;
    text-align: center;
    
}

#l {
    color: #FFF;
    margin-left: 100px;
}

#lc {
  color: #FFF;
  margin-left: 1000px;  
}