#divinterna{
    margin: auto;
    background-color: #ffffff;
    border-radius: 6px;
}

#divexterna{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.form-control {
    border: 2;
}

body{
    background-color: #9bcbef;
}

button{

    cursor: pointer;
}

@media screen and (min-width: 320px) {

    button{
        margin-top: 10px;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0;
}
